[Unit]
Description=fava

[Service]
Type=simple
ExecStart=/home/wbk/.local/bin/fava -p 5001  -H 0.0.0.0 --read-only ${BEANCOUNT_FILE}
Restart=always


[Install]
WantedBy=default.target
